
# Ignore everything by default
*

# Allow directories
!/src
!/src/CRTerm
!/src/testApp
!/res
!/doc
!/doc/CRTerm
!/doc/index-files

# Allow file types
!.gitignore
!*.java
!*.md
!/res/*.txt
!*.html
!/doc/*.js
!/doc/*.css
!package-list
